name: draw_your_image
description: A Flutter package which enables users to draw with fingers in your designed UI.
version: 0.2.0
homepage: https://github.com/chooyan-eng/draw_your_image

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: